.serv1{
  &__imgW{
    position: relative;
    width: 100%;
    height: 100%;
    @include media-breakpoint-down(md) {
      height: 400px;
      margin-bottom: 40px;
    }
    img{
      position: absolute;
      top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;
    }
  }
}
.serv2{
  &__white{
    background-color: $white;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      top: -100px;
      left: 0;
      width: 100%;
      height: 110px;
      background-color: $white;
    }
  }
}
.list{
  &__item{
    display: flex;
    margin-bottom: 40px;
    &::before{
      content: "/";

      margin-right: 15px;

    }
  }
}