$red: #C61B0F;
$redDim: #B42E33;
$redLight: #DE6469;
$dark: #4B4B4B;
$darkGray: #737373;
$grayMiddle: #949494;
$gray: #C8C8C8;
$grayOpacity: rgba(200, 200, 200, 0.2);
$darkOpacity: rgba(94, 94, 94, 0.6);
$white: #F8F8F8;
$whiteOpacity: rgba(248, 248, 248, 0.5);
$bg: #E9E9E9;
$bgDark: #262626;