.hFirst{
  background-color: $white;
  &__title{
    color: $dark-green ;
  }
  &__item{
    border-bottom: 1px solid $dark;
  }
}
.hText{
  color: $dark-green;
}
.hImages{
  &__row1{
    margin-bottom: -300px;
  }
  &__row2{
    position: relative;
    z-index: 1;
    margin-bottom: -100px;
  }
  &__row3{
    background-color: $white;
    img{
      margin-top: -200px;
    }
  }
  @include media-breakpoint-down(lg) {
    &__row1{
      margin-bottom: -150px;
    }
    &__row2{
      margin-bottom: -50px;
    }
    &__row3{
      img{
        margin-top: -70px;
      }
    }
  }
  @include media-breakpoint-down(md) {
    &__row1{
      margin-bottom: -150px;
    }
    &__row2{
      margin-bottom: 0px;
    }
    &__row3{
      img{
        margin-top: -70px;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &__row1{
      margin-bottom: -120px;
    }
    &__row2{
      margin-bottom: 0px;
    }
    &__row3{
      img{
        margin-top: 0px;
      }
    }
  }
}
.hForm_d{
  background-color: $white;
  &__title{
    color: $dark-green ;
  }
}
.hGallery{
  &__img{
    height: 400px;
    @include media-breakpoint-down(lg) {height: 320px;}
    @include media-breakpoint-down(md) {height: 250px;}
    @include media-breakpoint-down(sm) {height: 200px;}
  }
  & .swiper-slide{
    width: min-content !important;
  }
  & .swiper-container{
    overflow: visible;
  }
  & .swiper-scrollbar{
    top: -30px;
    bottom: auto;
  }
}

.hPlan{
  background-color: $white;
  img{
    margin-right: 4vw;
    &:last-of-type{
      margin-right: 0;
    }
  }
& .swiper-slide{
  width: auto !important;
}
& .swiper-container{
  overflow: visible;
}
& .swiper-scrollbar{
  top: -30px;
  bottom: auto;
}
}

.hAccordion{
  background-color: $white;
}
.accordeon__head {
  border-top: 1px solid $gray;
  margin: 0;
  padding: 20px 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  user-select: none;
  align-items: center;
}
.accordeon__arrow{
  transition:0.4s ease-out;
  display: flex;
}
.accordeon__body {
  margin: 0;
  overflow: hidden;
  transition: 0.4s ease-out;
  max-height: 0;
}
.open + .accordeon__body {
  max-height: 200px;
}
.open .accordeon__arrow {
  transform: rotate(45deg)
}
