
$darkWhite: #EDEDED;
$bg: #E9E9E9;
$darkGray:#858585;
$bgDark: #2B2B2E;
$orange: #EAAC0F;

$white: #ffffff;
$gray1: #878787;
$gray2: #A5A5A5;
$gray3: #E4E4E4;
$gray4: #F8F8F8;

$black1: #202020;
$black2: #262626;

$secondary: #89C200;
$primary: #C2F840;


