.mFirst{
  min-height: 100vh;
  padding-top: 160px;
  border-color:currentColor;
  display: flex;
  flex-direction: column;
  position: relative;
  &__main{
    @include media-breakpoint-up(md) {
      margin-top: auto;
    }
  }
  &__vid{
    position: absolute;
    top: 0;
    right: 0;
    width: 33.33%;
    height: 100%;
    object-fit: cover;
  }
}

.imgPar{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    display: block;
    padding-bottom: 30%;
    @include media-breakpoint-down(md) {
      padding-bottom: 40%;
    }
    @include media-breakpoint-down(sm) {
      padding-bottom: 120%;
    }
  }
  img{
    position: absolute;
    top: -50%;
    left: 0;
    width: 100%;
    height: 200%;
    object-fit: cover;
  }
}
.mAdvantages{
  position: relative;
  z-index: 2;
  &__titleCol1{
    margin-top: -1.4em;
  }
  &__titleCol4{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    & .p1{
      margin-left: 3vw;
    }
  }
}

.cource{
  &__item{
    min-height: 200px;
    border-left: 1px solid $gray1;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .p1+.p1{
      margin-top: 40px;
    }
  }
}
.mChildren{
  &__titleCol1{
    margin-top: -2.4em;
    @include media-breakpoint-down(sm) {
      margin-top: -1.2em;

    }
  }
}