.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $bgWhite;
    padding: 20px 0 40px;
    z-index: 100;
    @include media-breakpoint-down(lg) {
        padding: 20px 0 30px;
    }
    @include media-breakpoint-down(sm) {
        padding: 20px 0 20px;
    }
    &__menu {
        margin-left: auto;
        ul {
            display: flex;
            margin: 0;
            padding: 0;
        }
        li {
            margin: 0;
            padding: 0;
            margin: 0 20px;
            &:first-child {
                margin-left: 0;
            }
            @media screen and (min-width: 1400px) {
                &:first-child {
                    margin-right: 0;
                    display: flex;
                    align-items: center;
                }
                &:first-child:after {
                    content: "";
                    display: inline-block;
                    width: 250px;
                    height: 1px;
                    background-color: $blueDeep;
                    margin-left: 20px;
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
        a {
            margin: 0;
            padding: 0;
            color: $blueDeep;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            white-space: nowrap;
        }
    }
    &__logo {
        height: 62px;
        width: auto;
        @include media-breakpoint-down(lg) {
            height: 50px;
        }
        @include media-breakpoint-down(sm) {
            height: 40px;
        }
    }
    &_fixed {
        display: none;
        top: 0;
        left: 0;
        width: 100%;
        @include media-breakpoint-down(md) {
            position: fixed;
            display: block;
        }
    }
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    transition-delay: 1s;
    &_active {
        z-index: 200;
        overflow: hidden;
        transition-delay: 0s;
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: 1s;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 2;
            background-color: rgba(#000000, 0.8);
        }
    }
    &_active &__bg {
        opacity: 1;
    }
    &__video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__content {
        position: absolute;
        top: 50%;
        left: 8.33%;
        width: 91.77%;
        transform: translate(100%, -50%);
        transition: 1s;
        z-index: 10;
        counter-reset: section;
        li {
            margin-bottom: 40px;
            @include media-breakpoint-down(lg) {
                margin-bottom: 30px;
                ;
            }
            @include media-breakpoint-down(md) {
                margin-bottom: 20px;
                ;
            }
        }
        a {
            color: $white;
            opacity: 0.6;
            transition: 0.3s;
            &::before {
                counter-increment: section;
                content: counter(section);
                margin-right: 40px;
            }
            &:hover {
                opacity: 1;
            }
        }
    }
    &__inner {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #24272E;
        color: $white;
        padding: 10vh 8.33vw;
    }
    &_active &__content {
        transform: translate(0, -50%);
    }
    & .header {
        opacity: 0;
        transition: 1s;
    }
    &_active .header {
        opacity: 1;
    }
    &__img {
        position: absolute;
        bottom: 0;
        right: 0;
        @include media-breakpoint-down(lg) {
            height: 14vh;
            width: auto;
        }
        @include media-breakpoint-down(md) {
            height: 78px;
            width: auto;
            right: auto;
            left: 33vw;
        }
        @include media-breakpoint-down(sm) {
            height: 58px;
            right: auto;
            left: 8.33vw;
        }
    }
}

.burger {
    cursor: pointer;
}

.burgerFixed {
    position: fixed;
    right: 4.12%;
    top: 50%;
    z-index: 200;
    transition: 0.3s ease-out;
    @include media-breakpoint-down(md) {
        display: none;
    }
    &_hide {
        opacity: 0;
        pointer-events: none;
    }
}

.headroom {
    will-change: transform !important;
    transition: transform 200ms linear !important;
    &>div {
        transform: none !important;
        opacity: 1 !important;
    }
}

.headroom--pinned,
.headroom--bottom,
.headroom--top {
    transform: translateY(0%) !important;
}

.headroom--unpinned {
    transform: translateY(-100%) !important;
}