.firstSection {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.31)), url(../img/mainBg.jpg);
    background-size: cover;
    height: 100vh;
    color: $white;
    position: relative;
    &__bgLeft {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 16.6666%;
        background-color: $bgWhite;
    }
    &__inner {
        width: 100%;
        height: 100%;
        padding: 170px 0;
        display: flex;
        flex-direction: column;
        & .row:first-child {
            flex-grow: 1;
        }
    }
    &__nameWrap {
        position: relative;
    }
    &__name {
        z-index: 2;
        position: relative;
        text-transform: uppercase;
        & span {
            color: $blueClass;
        }
    }
    &__blur {
        position: absolute;
        width: 1000px;
        height: 216px;
        right: 150px;
        bottom: 20px;
        background: rgba(0, 107, 168, 0.31);
        backdrop-filter: blur(4px);
        z-index: 1;
    }
    &__content {
        width: 720px;
        margin-top: auto;
    }
    &__slogan {
        display: flex;
        align-items: start;
    }
    &__sloganText {
        width: 400px;
        margin-left: 40px;
        position: relative;
        top: -7px;
    }
    &__sloganLine {
        flex-grow: 1;
        border-top: 1px solid $bgWhite;
    }
}

.btnNext {
    position: absolute;
    bottom: -60px;
    right: calc(50% - 110px);
    // border: 1px solid $white;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    z-index: 1;
    * {
        transition: 0.3s;
    }
    &__inner {
        width: 100%;
        height: 100%;
        position: relative;
    }
    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white;
    }
    &__circle {
        position: absolute;
        top: 0;
        left: 0;
        stroke: $white;
    }
    &__time {
        position: absolute;
        top: 0;
        left: 0;
        stroke: $white;
    }
    &__line {
        position: absolute;
        top: -50px;
        left: 50%;
        width: 1px;
        height: 100px;
        background-color: $white;
    }
    &:hover {
        cursor: pointer;
    }
    &:hover &__line {
        transform: translateY(30px);
    }
    &:hover &__cirсle,
    &:hover &__time {
        transform: scale(1.1);
    }
    &_dark &__line {
        background-color: $blueDeep;
    }
    &_dark &__text {
        color: $blueDeep;
    }
    &_dark &__time {
        stroke: $blueDeep;
    }
    &_dark &__circle {
        stroke: $blueDeep;
    }
    @include media-breakpoint-down(md) {
        display: none;
    }
}

.sectionVideo {
    position: relative;
    height: 100vh;
    &__video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.titleSection {
    position: relative;
    display: flex;
    align-items: flex-end;
    white-space: nowrap;
    margin-right: 40px;
    width: max-content;
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 101%;
        width: 100vw;
        height: 1px;
        border-bottom: 1px solid $blueClass;
    }
    @include media-breakpoint-down(sm) {
        margin-right: 20px;
    }
}

.sectionAbout {
    color: $dark;
}

.numCompany {
    border-bottom: 1px solid $blueClass;
}

.lighthouse {
    position: relative;
    &__bg {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
    }
    &__img {
        position: relative;
    }
}

.sectionSecvices {
    color: $white;
    &__inner {
        margin-top: -400px;
    }
    &__headBg {
        background: radial-gradient(127.3% 98.9% at 50.98% 1.1%, #363C44 0%, #0F141B 100%);
        width: 100%;
        height: 600px;
    }
}

.sliderSecvices {
    display: flex;
    margin-bottom: 450px;
    align-items: flex-end;
    justify-content: flex-end;
    height: 500px;
    &__item {
        cursor: pointer;
        height: 100%;
        background-size: cover;
        background-position: center bottom;
        // width: 25%;
        flex-grow: 2;
        position: relative;
        transition: 1s;
        filter: grayscale(100%);
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            transition: 1s;
            z-index: 1;
        }
    }
    &__content {
        position: absolute;
        z-index: 2;
        bottom: 40px;
        left: 100px;
        width: 560px;
    }
    &__textInner {
        // white-space: nowrap;
        position: relative;
    }
    &__titleWrap {
        transition: width 2s;
        overflow: hidden;
        width: 0;
        transition: 1s;
    }
    &__title {
        width: 560px;
        transform: translateX(30%);
        transition: 1s;
    }
    &__textWrap {
        transform: translateY(20px);
        opacity: 0;
        transition: 1s;
        position: absolute;
        bottom: -120px;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }
    &__text {
        width: 560px;
        color: $black;
    }
    &__numWrap {
        position: absolute;
        bottom: 0px;
        left: -175px;
        overflow: hidden;
        width: 0;
        transition: 0.5s;
    }
    &__num {
        line-height: 100%;
        width: 155px;
        text-align: right;
        color: rgba( $gray, 0.43);
        transform: translateX(50%);
        transition: 0.5s;
    }
    &__numSmWrap {
        position: absolute;
        bottom: 0px;
        left: -45px;
        overflow: hidden;
        width: 35px;
        transition: 0.3s;
        // transition-delay: 0.5s;
    }
    &__numSm {
        transform: translateX(0);
        transition: 0.3s;
        // transition-delay: 0.5s;
    }
}

.sliderSecvices__item.active {
    cursor: auto;
    // width: 50%;
    flex-grow: 5;
    filter: none;
    &::before {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

.active .sliderSecvices {
    &__textWrap {
        transform: translateY(0);
        opacity: 1;
    }
    &__titleWrap {
        transition: width 2s;
        overflow: hidden;
        width: 560px;
    }
    &__title {
        width: 560px;
        transform: translateX(0);
    }
    &__numWrap {
        width: 155px;
        transition-delay: 0.5s;
    }
    &__num {
        transform: translateX(0);
        transition-delay: 0.5s;
    }
    &__numSmWrap {
        width: 0;
        transition: 0.3s;
    }
    &__numSm {
        line-height: 100%;
        // width: 155px;
        // text-align: right;
        // color: rgba( $gray, 0.43);
        transform: translateX(50%);
        transition: 0.3s;
    }
}