.firstSection {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.31)), url(../img/mainBg.jpg);
    background-size: cover;
    height: 100vh;
    color: $white;
    position: relative;
    &__bgLeft {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 16.6666%;
        background-color: $bgWhite;
        transition: all 0.5s cubic-bezier(0.19, 0, 0.51, 1) 0.2s;
        @include media-breakpoint-down(md) {
            width: 13.6666%;
        }
    }
    &__inner {
        width: 100%;
        height: 100%;
        padding: 170px 0;
        display: flex;
        flex-direction: column;
        & .row:first-child {
            flex-grow: 1;
        }
        @include media-breakpoint-down(lg) {
            padding: 120px 0;
        }
        @include media-breakpoint-down(sm) {
            padding: 70px 0;
        }
    }
    &__nameWrap {
        position: relative;
    }
    &__name {
        z-index: 2;
        position: relative;
        text-transform: uppercase;
        line-height: 1;
        transition: 0.5s cubic-bezier(.19, 0, .51, 1) 0.3s;
        & span {
            color: $blueClass;
        }
    }
    &__blur {
        position: absolute;
        width: 1000px;
        height: 216px;
        right: 150px;
        bottom: 22px;
        background: rgba($color: #1E7FCA, $alpha: 0.4);
        backdrop-filter: blur(4px);
        z-index: 1;
        transition: all 0.5s cubic-bezier(0.19, 0, 0.51, 1) 0.2s;
        @include media-breakpoint-down(lg) {
            right: 340px;
            bottom: 18px;
        }
        @include media-breakpoint-down(md) {
            right: 340px;
            bottom: 14px;
        }
        @include media-breakpoint-down(sm) {
            right: 50%;
        }
    }
    &__content {
        width: 720px;
        margin-top: auto;
        @include media-breakpoint-down(md) {
            width: 560px;
        }
    }
    &__slogan {
        display: flex;
        align-items: start;
        transition: 0.5s cubic-bezier(.19, 0, .51, 1) 0.1s;
    }
    &__sloganText {
        width: 70%;
        margin-left: 40px;
        position: relative;
        top: -7px;
        @include media-breakpoint-down(md) {
            // margin-left: 20px;
        }
        @include media-breakpoint-down(md) {
            // margin-left: 20px;
        }
    }
    &__sloganLine {
        flex-grow: 1;
        border-top: 1px solid $bgWhite;
    }
}

.btnNext {
    position: absolute;
    bottom: -100px;
    right: calc(50% - 110px);
    // border: 1px solid $white;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    z-index: 1;
    // * {
    //     transition: 0.3s;
    // }
    &__inner {
        width: 100%;
        height: 100%;
        position: relative;
    }
    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white;
    }
    &__circle {
        position: absolute;
        top: 0;
        left: 0;
        stroke: $white;
        fill: transparent;
    }
    &__time {
        position: absolute;
        top: 0;
        left: 0;
        stroke: $white;
        fill: transparent;
        stroke-width: 5;
        stroke-dasharray: 450;
        stroke-dashoffset: 450;
        transition: 40s;
        path {
            stroke: $white;
            stroke-width: 5;
            stroke-dasharray: 450;
            stroke-dashoffset: 450;
            transition: 40s;
        }
    }
    &__line {
        position: absolute;
        top: -50px;
        left: 50%;
        width: 1px;
        height: 100px;
        background-color: $white;
        transition: 0.3s;
    }
    &:hover {
        cursor: pointer;
    }
    &:hover &__line {
        transform: translateY(30px);
    }
    &:hover &__cirсle,
    &:hover &__time {
        transform: scale(1.1);
    }
    &_dark &__line {
        background-color: $blueDeep;
    }
    &_dark &__text {
        color: $blueDeep;
    }
    &_dark &__time {
        stroke: $blueDeep;
    }
    &_dark &__circle {
        stroke: $blueDeep;
    }
    @include media-breakpoint-down(lg) {
        transform: scale(0.6);
    }
    @include media-breakpoint-down(md) {
        display: none;
    }
    &_video {
        bottom: -60px;
        .btnNext__text {
            transform: translate(-50%, -50%);
        }
        @include media-breakpoint-down(lg) {
            bottom: -80px;
        }
    }
    &_sectionSecvices {
        bottom: -60px;
        @include media-breakpoint-down(lg) {
            bottom: -80px;
        }
    }
}

.sectionVideo {
    position: relative;
    height: 100vh;
    &__video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.titleSection {
    position: relative;
    display: flex;
    align-items: flex-end;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    width: max-content;
    z-index: 10;
    color: $gray;
    text-transform: uppercase;
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $bgWhite;
    }
    &::after {
        content: "";
        position: absolute;
        bottom: 5px;
        left: calc(100% + 40px);
        width: 0vw;
        height: 1px;
        border-bottom: 1px solid $blueClass;
    }
    &.animated::before {
        transform: translateX(100%);
        transition: 0.5s ease-out;
    }
    &.animated::after {
        width: 100vw;
        transition: 1s ease-out 0.3s;
    }
    &_black::before {
        background-color: transparent;
    }
    &_white::before {
        background-color: $white;
    }
    @include media-breakpoint-down(sm) {
        margin-right: 20px;
    }
}

.sectionAbout {
    color: $dark;
    &__img2 {
        margin-top: -100px;
        @include media-breakpoint-down(lg) {
            margin-top: -50px;
        }
    }
    @include media-breakpoint-down(md) {
        &__scr1,
        &__scr2 {
            transition: transform 0.5s ease-out 0s;
        }
    }
}

.numCompany {
    border-bottom: 1px solid $blueClass;
}

.lighthouse {
    position: relative;
    &__bg {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        // transform: scaleY(1);
        transition: 1.5s ease-out;
        transform: scaleY(1.2);
        transform-origin: bottom;
        visibility: visible !important;
        &.animated {
            transform: scaleY(0.9);
        }
    }
    &__img {
        position: relative;
    }
    &__slogan {
        display: flex;
        align-items: flex-start;
        position: absolute;
        top: 65%;
        left: 16.66%;
        color: $white;
        z-index: 1;
    }
    &__quote {
        flex-shrink: 0;
        width: 45px;
        height: auto;
        margin-right: 35px;
        @include media-breakpoint-down(md) {
            width: 22px;
            margin-right: 10px;
        }
        @include media-breakpoint-down(sm) {
            width: 18px;
        }
    }
    &__text {
        width: 100%;
        max-width: 560px;
        @include media-breakpoint-down(md) {
            max-width: 380px;
        }
        @include media-breakpoint-down(sm) {
            max-width: 270px;
        }
    }
}

.sectionSecvices {
    color: $white;
    position: relative;
    &__inner {
        margin-top: -400px;
        @include media-breakpoint-down(lg) {
            margin-top: -300px;
        }
        @include media-breakpoint-down(sm) {
            margin-top: -200px;
        }
    }
    &__headBg {
        background: radial-gradient(127.3% 98.9% at 50.98% 1.1%, #363C44 0%, #0F141B 100%);
        width: 100%;
        height: 600px;
    }
}

.sliderSecvices {
    display: flex;
    margin-bottom: 350px;
    align-items: flex-end;
    justify-content: flex-end;
    height: 500px;
    visibility: visible !important;
    @include media-breakpoint-down(lg) {
        height: 350px;
        margin-bottom: 400px;
    }
    @include media-breakpoint-down(sm) {
        height: 300px;
        margin-bottom: 450px;
    }
    &__item {
        cursor: pointer;
        height: 10%;
        background-size: cover;
        background-position: center bottom;
        // width: 25%;
        flex-grow: 2;
        position: relative;
        transition: 1s;
        filter: grayscale(100%);
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            transition: 1.5s;
            z-index: 1;
        }
    }
    .animated &__item:nth-child(1) {
        height: 100%;
    }
    .animated &__item:nth-child(2) {
        height: 100%;
        transition-delay: 0.3s;
    }
    .animated &__item:nth-child(3) {
        height: 100%;
        transition-delay: 0.6s;
    }
    .animated &__item:nth-child(4) {
        height: 100%;
        transition-delay: 0.9s;
    }
    &__content {
        position: absolute;
        z-index: 2;
        bottom: 40px;
        left: 100px;
        width: 560px;
        @include media-breakpoint-down(lg) {
            width: 400px;
        }
        @include media-breakpoint-down(md) {
            left: 40px;
        }
    }
    &__textInner {
        // white-space: nowrap;
        position: relative;
    }
    &__titleWrap {
        transition: width 2s;
        overflow: hidden;
        width: 0;
        transition: 1s;
    }
    &__title {
        width: 100%;
        max-width: 560px;
        transform: translateX(30%);
        transition: 1s;
        white-space: nowrap;
        @include media-breakpoint-down(sm) {
            width: min-content;
            white-space: normal;
            max-width: 70vw;
        }
    }
    &__textWrap {
        transform: translateY(20px);
        opacity: 0;
        transition: 1s;
        position: absolute;
        bottom: -270px;
        // overflow: hidden;
        width: 100%;
        height: 200px;
        @include media-breakpoint-down(sm) {
            max-width: 70vw;
        }
    }
    &__text {
        width: 100%;
        color: $black;
    }
    &__numWrap {
        position: absolute;
        bottom: 0px;
        left: -175px;
        overflow: hidden;
        width: 0;
        transition: 0.5s;
        @include media-breakpoint-down(md) {
            width: 105px;
        }
    }
    &__num {
        line-height: 100%;
        width: 155px;
        text-align: right;
        color: rgba( $gray, 0.43);
        transform: translateX(50%);
        transition: 0.5s;
        @include media-breakpoint-down(md) {
            // width: 105px;
        }
    }
    &__numSmWrap {
        position: absolute;
        bottom: 0px;
        left: -45px;
        overflow: hidden;
        width: 35px;
        transition: 0.3s;
        // transition-delay: 0.5s;
        @include media-breakpoint-down(md) {
            left: -25px;
        }
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
    &__numSm {
        transform: translateX(0);
        transition: 0.3s;
        // transition-delay: 0.5s;
    }
}

.sliderSecvices__item.active {
    cursor: auto;
    // width: 50%;
    flex-grow: 5;
    filter: none;
    &::before {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

.active .sliderSecvices {
    &__textWrap {
        transform: translateY(0);
        opacity: 1;
    }
    &__titleWrap {
        transition: width 2s;
        overflow: hidden;
        width: 560px;
    }
    &__title {
        width: 560px;
        transform: translateX(0);
    }
    &__numWrap {
        width: 155px;
        transition-delay: 0.5s;
    }
    &__num {
        transform: translateX(0);
        transition-delay: 0.5s;
    }
    &__numSmWrap {
        width: 0;
        transition: 0.3s;
    }
    &__numSm {
        line-height: 100%;
        // width: 155px;
        // text-align: right;
        // color: rgba( $gray, 0.43);
        transform: translateX(50%);
        transition: 0.3s;
    }
}

.map {
    background: radial-gradient(127.3% 98.9% at 50.98% 1.1%, #363C44 0%, #0F141B 100%);
    overflow: hidden;
    &__map {
        // margin-top: -700px;
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
    &__svg {
        max-height: 120vh;
        /* margin-left: -20vw; */
        margin-top: -70vh;
        @include media-breakpoint-down(lg) {
            margin-left: -20vw;
        }
        @include media-breakpoint-down(md) {
            margin-left: -50vw;
        }
    }
    &__point {
        cursor: pointer;
        & ellipse:first-child {
            rx: 10;
            ry: 10;
            transition: 0.5s;
            // transform: scale(2);
        }
        & ellipse:last-child {
            rx: 4;
            ry: 4;
            transition: 0.5s;
            // transform: scale(2);
        }
        &:hover ellipse:first-child {
            rx: 20;
            ry: 20;
        }
        &.active ellipse:last-child {
            rx: 10;
            ry: 10;
        }
    }
    &__details {
        margin-top: -100px;
    }
    &__detailsInner {
        padding: 40px 40px 40px 160px;
        width: 700px;
        background-color: rgba(#2C2F37, .2);
        display: inline-block;
        transition: 0.3s;
        border-bottom: 1px solid $blueClass;
    }
}

.ticker {
    opacity: 0.2;
    &__line {
        display: flex;
    }
    &__img {
        // height: 72px;
        // width: auto;
        margin-right: 200px;
    }
}

.tippy-box[data-theme~='gt'] {
    background-color: rgba($gray, 0.2);
    color: $gray;
    border-radius: 0;
    padding: 10px 40px;
}

.footerMap {
    width: 100%;
    height: 600px;
}

.contacts {
    position: relative;
    z-index: 1;
    margin-bottom: -130px;
    &__inner {
        background-color: $white;
    }
    &__link {
        display: block;
        white-space: nowrap;
    }
}

.seaBig {
    position: relative;
    &__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 66%;
    }
    &__video {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
}

.licenses {
    background: radial-gradient(127.3% 98.9% at 50.98% 1.1%, #363C44 0%, #0F141B 100%);
    color: $gray;
    &__imgWrap {
        margin: 10px;
        display: block;
        overflow: hidden;
    }
    &__img {
        width: 100%;
        height: auto;
        transition: transform 0.5s ease-out 0s;
        @include media-breakpoint-down(md) {
            transition: 0s !important;
        }
        &_h {
            height: 100%;
            object-fit: cover;
        }
    }
}

.projectHead {
    color: $gray;
    position: relative;
    @include media-breakpoint-down(sm) {
        .m-b-6 {
            margin-bottom: 160px;
        }
    }
}

.partners {
    color: $black;
    &__line {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        @include media-breakpoint-down(md) {
            transition: 0s !important;
        }
    }
    &__item {
        margin: 0 25px;
        width: 180px;
        flex-shrink: 0;
        @include media-breakpoint-down(lg) {
            margin: 0 20px;
            width: 140px;
        }
        @include media-breakpoint-down(md) {
            width: 100px;
            margin: 0 15px;
        }
    }
}

.projectBody {
    background: radial-gradient(127.3% 98.9% at 50.98% 1.1%, #363C44 0%, #0F141B 100%);
    color: $white;
}

.sliderP {
    &__item {
        position: relative;
    }
    &__img {
        height: 300px;
        width: 87%;
        padding: 0px 0 100px;
        display: flex;
        margin-left: auto;
        opacity: 0.3;
        overflow: hidden;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: 0.7s ease-out;
            flex-shrink: 0;
        }
        &_right {
            img {
                transform: translateX(-100%);
            }
        }
    }
    &__descriptionWrap {
        position: absolute;
        top: 30%;
        width: 87%;
        right: 0;
        transform: translateX(100%);
        z-index: 1;
        overflow: hidden;
    }
    &__description {
        background: rgba(0, 0, 0, 0.6);
        // backdrop-filter: blur(10px);
        padding: 60px 80px;
        position: relative;
        @include media-breakpoint-down(md) {
            padding: 40px 60px;
        }
    }
    &__text {
        display: flex;
        div {
            flex-shrink: 0;
            width: 50px;
            border-top: 1px solid white;
            position: relative;
            top: 9px;
        }
        p {
            flex-grow: 1;
            padding-left: 30px
        }
    }
    &__border {
        position: absolute;
        top: 30%;
        width: 105%;
        right: 0;
        transform: translateX(110%);
        z-index: 2;
        height: 3px;
        background-color: $blueClass;
        @include media-breakpoint-down(lg) {
            width: 103%;
        }
        @include media-breakpoint-down(md) {
            width: 102%;
        }
    }
    .active &__textWrap {}
    .active &__text {
        display: flex;
    }
}

.counter {
    position: fixed;
    top: calc(50vh - 99px);
    color: $dark;
    transition: 1s;
    &__inner {
        display: flex;
        flex-direction: column;
        transition: 1s ease-in-out;
    }
    &__num {
        margin-bottom: 30px;
        line-height: 50px;
        transition: 0.5s ease-out 1s;
    }
    &__num.active {
        margin-bottom: 30px;
        line-height: 50px;
        font-size: 46px;
        color: #1E7FCA;
        transition: 0.5s ease-out 0;
        font-weight: 700;
    }
    &_hide {
        opacity: 0;
        pointer-events: none;
    }
}

.sliderPM {
    color: $white;
    &__item {
        position: relative;
    }
    &__img {
        height: 300px;
        width: 100%;
        padding: 0;
        display: flex;
        margin-left: auto;
        overflow: hidden;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &__descriptionWrap {
        margin: -100px 0 0 auto;
        width: 87%;
        z-index: 1;
        overflow: hidden;
        @include media-breakpoint-down(sm) {
            width: 95%;
        }
    }
    &__description {
        background: rgba(0, 0, 0, 0.6);
        // backdrop-filter: blur(10px);
        padding: 45px 90px 45px 30px;
        position: relative;
        @include media-breakpoint-down(sm) {
            padding: 30px 40px 30px 20px;
        }
    }
}