.aPers{
  &__item{

  }
  &__itemImg{
    position: relative;
    display: block;
    width: 100%;
    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    &_contain{
      img{
        object-fit: contain;
      }
    }
  }

}

.aGal{
  min-height: 150vmax;
  overflow: hidden;
  &__wrap{
    // height: 100vw;
  }
  &__wrapInner{
    width: 200vw/3*2;
    height: 50vw/3*2;
    
    // display: flex;
    position: relative;
  }
  &__img1{
    position: absolute;
    top: 100%/996*190;
    left: 100%/3920*160;
    height: 100%/996*400;
    width: 100%/3920*560;
    object-fit: cover;
  }
  &__img2{
    position: absolute;
    top: 100%/996*516;
    left: 100%/3920*880;
    height: 100%/996*480;
    width: 100%/3920*480;
    object-fit: cover;
  }
  &__img3{
    position: absolute;
    top: 100%/996*37;
    left: 100%/3920*1360;
    height: 100%/996*480;
    width: 100%/3920*480;
    object-fit: cover;
  }
  &__img4{
    position: absolute;
    top: 100%/996*636;
    left: 100%/3920*1440;
    height: 100%/996*360;
    width: 100%/3920*560;
    object-fit: cover;
  }
  &__img5{
    position: absolute;
    top: 100%/996*198;
    left: 100%/3920*2080;
    height: 100%/996*400;
    width: 100%/3920*560;
    object-fit: cover;
  }
  &__img6{
    position: absolute;
    top: 100%/996*516;
    left: 100%/3920*2800;
    height: 100%/996*480;
    width: 100%/3920*480;
    object-fit: cover;
  }
  &__img7{
    position: absolute;
    top: 100%/996*37;
    left: 100%/3920*3280;
    height: 100%/996*480;
    width: 100%/3920*480;
    object-fit: cover;
  }
  &__img8{
    position: absolute;
    top: 100%/996*636;
    left: 100%/3920*3360;
    height: 100%/996*360;
    width: 100%/3920*560;
    object-fit: cover;
  }
}