.fade-in {
  opacity: 0;
  &.is-inview{
    opacity: 1;
  }
}
.t-03{transition-duration: 0.3s;}
.t-05{transition-duration: 0.5s;}
.t-07{transition-duration: 0.7s;}
.t-10{transition-duration: 1.0s;}

.t-d-01{transition-delay: 0.1s;}
.t-d-02{transition-delay: 0.2s;}
.t-d-03{transition-delay: 0.3s;}
.t-d-04{transition-delay: 0.4s;}
.t-d-05{transition-delay: 0.5s;}
.t-d-06{transition-delay: 0.6s;}
.t-d-07{transition-delay: 0.7s;}
.t-d-08{transition-delay: 0.8s;}
.t-d-09{transition-delay: 0.9s;}
.t-d-10{transition-delay: 1.0s;}