.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  // border:1px solid $gray;
  &__menu{
    display: flex;
    flex-direction: column;
    max-height: 0px;
    transition: 1s;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-60px);
  }
  &_full &__menu{
    max-height: 200px;
    opacity: 1;
    transform: translateY(0%);
  }
}
