.mFirst{
  &__head{
    display: flex;
    flex-wrap: wrap;
    
  }
  &__head1{
 
  }
  &__head2{
    margin-left: 4.16vw;
    @include media-breakpoint-down(sm) {
      margin-left: 0;
    }
  }
  &__head3{
    margin-left: 8.33vw;
    min-width: 240px;
    max-width: 320px;
    @include media-breakpoint-only(md) {
      margin-left: 100vw / 24 * 8;
    }
    @include media-breakpoint-down(sm) {
      margin-left: 100vw / 24 * 3;
    }
  }
  &__imgW{
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateX(-100vw/24*1);
    min-height: 270px;
    @include media-breakpoint-only(md) {
      min-height: 270px;
      transform: translateX(0);

    }
    @include media-breakpoint-down(sm) {
      min-height: 130px;
    }
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1000px;
    }
  }
}

.imgParalax{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    display: block;
    padding-bottom: 30%;
    @include media-breakpoint-down(md) {
      padding-bottom: 40%;
    }
    @include media-breakpoint-down(sm) {
      padding-bottom: 120%;
    }
  }
  img{
    position: absolute;
    top: -50%;
    left: 0;
    width: 100%;
    height: 200%;
    object-fit: cover;
  }
}

.mMission{
  &__title{

  }
}
.mNews{

}