@import "var/color";
@import "var/font";
@import "var/def";

*,
*:hover,
*:focus,
*:active {
  outline: none !important;
}

* {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
}

html {
  scroll-behavior: smooth;
  font-size: 14px;
  @include media-breakpoint-down(lg) {
    font-size: 14px;
  }
}

body {
  overflow-x: hidden;
  background-color: $white;
  color: $black;
}

::-webkit-scrollbar {
  background-color: $gray;
}
::-webkit-scrollbar-thumb {
  background-color: $darkGray;
}
::-webkit-scrollbar-thumb:hover {
  background-color: $darkGray;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

@mixin pTop($mpXL, $mpLG, $mpMD, $mpSM) {
  padding-top: $mpXL;
  @include media-breakpoint-down(lg) {
    padding-top: $mpLG;
  }
  @include media-breakpoint-down(md) {
    padding-top: $mpMD;
  }
  @include media-breakpoint-down(sm) {
    padding-top: $mpSM;
  }
}
@mixin pBot($mpXL, $mpLG, $mpMD, $mpSM) {
  padding-bottom: $mpXL;
  @include media-breakpoint-down(lg) {
    padding-bottom: $mpLG;
  }
  @include media-breakpoint-down(md) {
    padding-bottom: $mpMD;
  }
  @include media-breakpoint-down(sm) {
    padding-bottom: $mpSM;
  }
}

@mixin mTop($mpXL, $mpLG, $mpMD, $mpSM) {
  margin-top: $mpXL;
  @include media-breakpoint-down(lg) {
    margin-top: $mpLG;
  }
  @include media-breakpoint-down(md) {
    margin-top: $mpMD;
  }
  @include media-breakpoint-down(sm) {
    margin-top: $mpSM;
  }
}
@mixin mBot($mpXL, $mpLG, $mpMD, $mpSM) {
  margin-bottom: $mpXL;
  @include media-breakpoint-down(lg) {
    margin-bottom: $mpLG;
  }
  @include media-breakpoint-down(md) {
    margin-bottom: $mpMD;
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: $mpSM;
  }
}

.m-t-320 {
  @include mTop(320px, 240px, 180px, 120px);
}
.m-b-320 {
  @include mBot(320px, 240px, 180px, 120px);
}
.p-t-320 {
  @include pTop(320px, 240px, 180px, 120px);
}
.p-b-320 {
  @include pBot(320px, 240px, 180px, 120px);
}


.m-t-240 {
  @include mTop(240px, 200px, 140px, 100px);
}
.m-b-240 {
  @include mBot(240px, 200px, 140px, 100px);
}
.p-t-240 {
  @include pTop(240px, 200px, 140px, 100px);
}
.p-b-240 {
  @include pBot(240px, 200px, 140px, 100px);
}


.m-t-120 {
  @include mTop(120px, 80px, 70px, 60px);
}
.m-b-120 {
  @include mBot(120px, 80px, 70px, 60px);
}
.p-t-120 {
  @include pTop(120px, 80px, 70px, 60px);
}
.p-b-120 {
  @include pBot(120px, 80px, 70px, 60px);
}

.m-t-80 {
  @include mTop(80px, 50px, 50px, 40px);
}
.m-b-80 {
  @include mBot(80px, 50px, 50px, 40px);
}
.p-t-80 {
  @include pTop(80px, 50px, 50px, 40px);
}
.p-b-80 {
  @include pBot(80px, 50px, 50px, 40px);
}

.m-t-50 {
  @include mTop(50px, 50px, 40px, 40px);
}
.m-b-50 {
  @include mBot(50px, 50px, 40px, 40px);
}
.p-t-50 {
  @include pTop(50px, 50px, 40px, 40px);
}
.p-b-50 {
  @include pBot(50px, 50px, 40px, 40px);
}

.m-t-40 {
  @include mTop(40px, 30px, 30px, 30px);
}
.m-b-40 {
  @include mBot(40px, 30px, 30px, 30px);
}
.p-t-40 {
  @include pTop(40px, 30px, 30px, 30px);
}
.p-b-40 {
  @include pBot(40px, 30px, 30px, 30px);
}

.m-t-30 {
  @include mTop(30px, 15px, 25px, 15px);
}
.m-b-30 {
  @include mBot(30px, 15px, 25px, 15px);
}
.p-t-30 {
  @include pTop(30px, 15px, 25px, 15px);
}
.p-b-30 {
  @include pBot(30px, 15px, 25px, 15px);
}

.m-t-20 {
  @include mTop(20px, 15px, 15px, 15px);
}
.m-b-20 {
  @include mBot(20px, 15px, 15px, 15px);
}
.p-t-20 {
  @include pTop(20px, 15px, 15px, 15px);
}
.p-b-20 {
  @include pBot(20px, 15px, 15px, 15px);
}


.m-t-10 {
  @include mTop(10px, 10px, 5px, 5px);
}
.m-b-10 {
  @include mBot(10px, 10px, 5px, 5px);
}
.p-t-10 {
  @include pTop(10px, 10px, 5px, 5px);
}
.p-b-10 {
  @include pBot(10px, 10px, 5px, 5px);
}

.p-t-0 {
  padding-top: 0;
}
.p-b-0 {
  padding-bottom: 0;
}
.m-t-0 {
  margin-top: 0;
}
.m-b-0 {
  margin-bottom: 0;
}

.m-t-a {
  margin-top: auto;
}
.mp0 {
  margin: 0;
  padding: 0;
}



@mixin fontS($fsXL, $fsLG, $fsMD, $fsSM) {
  font-size: $fsXL;
  @include media-breakpoint-down(lg) {
    font-size: $fsLG;
  }
  @include media-breakpoint-down(md) {
    font-size: $fsMD;
  }
  @include media-breakpoint-down(sm) {
    font-size: $fsSM;
  }
}
.h1 {
  font-family: Nudla , Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 100;
  // font-size: 50px;
  line-height: 100%;
  text-transform: uppercase;
  @include fontS(50px, 40px, 40px, 24px);
}
.h2 {
  font-family: Nudla, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 100;
  // font-size: 48px;
  line-height: 105%;
  @include fontS(48px, 36px, 28px, 22px);

}
.h3 {
  font-family: Nudla, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 100;
  // font-size: 32px;
  line-height: 110%;
  @include fontS(32px, 28px, 20px, 18px);
}
.h4 {
  font-family: Nudla, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 100;
  // font-size: 24px;
  line-height: 115%;
  @include fontS(24px, 18px, 13px, 13px);
}

.p1,
p,
li,
li > a {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  // font-size: 16px;
  line-height: 150%;
  @include fontS(16px, 14px, 13px, 12px);
}
.p2 {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  // font-size: 14px;
  line-height: 150%;
  @include fontS(14px, 12px, 12px, 11px);
}
.button1 {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  // font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */

  letter-spacing: 0.055em;
  text-decoration-line: underline;
  text-transform: lowercase;
  @include fontS(14px, 12px, 12px, 11px);
}
.span1 {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 155%;
  @include fontS(12px, 10px, 10px, 10px);
}

.imgW {
  position: relative;
  display: block;
  &::after {
    content: "";
    display: block;
    padding-bottom: 50%;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.madeAva {
  white-space: nowrap;
  // color: $gray;
  display: flex;
  align-items: center;
  // justify-content: flex-end;
  width: 100%;
  svg {
    margin-left: 10px;
    fill: $white;
  }
  &:hover,
  &:focus {
    // color:$darkGray;
  }
  &:active {
    // color: $redDim;
  }
}

input {
  display: block;
  width: 100%;
  background: transparent;
  color: $darkGray;
  border: none;
  border-bottom: 1px solid $darkGray;
  padding: 15px 0;
  margin-bottom: 20px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;

  &::placeholder {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: $gray;
  }
}
.violetL{
  color: $secondary;
}
.line{
  border-bottom: 1px solid $gray;
}
.lineV{
  border-left: 1px solid $gray;
  height: 100%;

}
.btn2 {
  position: relative;
  display: block;
  border: 1px solid $gray ;
  border-radius: 1000px;
  position: relative;
  z-index: 1;
  &::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

.p404{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  a{
    width: 80%;
    svg{
      width: 100%;
    }
  }
}

ul li{
  display: flex;
  &::before{
    content: "/ ";
    color: $primary;
    padding-right: 10px;
  }
}

.btnW{
  // padding: 200px;
  border:1px solid;
  margin:200px;
  width: 400px;
}
.btnSize{
  width: 100%;
  display: block;
  position:relative;
  &:before{
    content:"";
    display: block;
    padding-bottom:100%;
  }
}
.btn1{
  position: relative;
  width: 200px;
  height: 200px;
  &__text{
    position: relative;
    z-index: 1;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 60%;
    margin:20%;
    pointer-events:none;
  }
  &__svg{
    content:'';
    position:absolute;
    top: 40%;
    left: 40%;
    width: 20%;
    height: 20%;
    // cursor:pointer;
    // border-radius:50%;
    // background-color: rgba(tomato,0.1);
    pointer-events:none;
    stroke: $primary;
    transition: 0.1s;
  }
  &__cirkle{
    position:absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 60%;
    margin:20%;
    border: 1px solid $gray; 
    border-radius:50%;
    transition: 0.3s;
    &:hover{
      background: $primary ;
      border: 1px solid $primary; 

      // transform:scale(1.5);
    }
  }
  &__cirkle:hover + &__svg{
    stroke: $white;
    // transform: rotate(45deg);
  }
  &__bg{
    content:'';
    position:absolute;
    top: -30%;
    left: -30%;
    width: 160%;
    height: 160%;
    // cursor:pointer;
    border-radius:50%;
    // background-color: rgba(tomato,0.1);
    // pointer-events:none;
  }

  
  &_flex{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  

} 