.header{
  background-color: $white;
  padding: 20px 0;
  position: fixed;
  z-index: 100;
  width: 100%;
}
.headMenu{
  margin: 0;
  padding: 0;
  ul{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  li{
    margin: 0;
    padding: 0;
  }
  li+li{
    margin-left: 30px;
  }
  a{
    font-family: Futura PT;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
  }
}
