.mFirst{
  background: linear-gradient(270deg, rgba(0, 174, 239, 0.119) 0%, rgba(164, 82, 192, 0.196) 100%);
}
.mFirst__arrow{
  
}
@include media-breakpoint-only(xl) {
  .mFirst__arrow{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 200px;
  }
  .mFirst__arrowItem{
    width: 20vw;
    div{
      border-bottom: 1px solid $dark;
      margin: 20px 0;
    }
    &.active{
      color: $blue;
      div{
        border-color: $blue;
        margin: 20px 0;
      }
    }
  }
}
.mFirst__cart{
  padding: 40px;
  background-color: $blue;
  color: $white;
  transform: translateY(20%);
  position: relative;
  @include media-breakpoint-down(md) {
    transform: translateY(0%);
  }
  img{
    width: calc(100% + 40px);
    padding-bottom: 40px;
  }
  &_1{
    transform: translateY(50%);
    @include media-breakpoint-down(md) {
      transform: translateY(0%);
    }
  }
  &_2{
    &::after{
      content: "";
      position: absolute;
      top: 100%;
      left: -100vw;
      width: 200vw;
      height: 200px;
      background-color: $white;
      z-index: 1;
    }
  }
}
.mWhy{
  &__img{
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
}
.mList{
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__item{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    &:last-of-type{
      margin-bottom: 0;
    }
    &::before{
      content: "";
      width: 30px;
      height: 30px;
      background-image: url(../img/check.svg);
      margin-right: 40px;
      flex:none;
    }
  }
}
.mCat{
  background-color: rgba($color: $blue, $alpha: .05);
  height: 100%;
  color: $dark;

  
  &__cart{
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: $gray;
    color: $white;
    &_end{
      background-color: $blue;
      height: 100%;
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 40px;
    }
  }
  &__cartTitle{
    width: 70%;
    min-height: 200px;
    padding-bottom: 60px;
    display: flex;
    span{
      flex: none;
      margin-right: 15px;
    }
  }
}

.news{
  &__item{
    margin-bottom: 40px;
    &_all{
      border: 1px solid $blue;
      .news__itemImgW{
        color: $white;
      }
    }
  }
  &__itemImgW{
    position: relative;
    padding-bottom: 60%;
    img{
      position: absolute;
      left: 0;top: 0;width: 100%;height: 100%;
    }
    &_end{
      background-color: $blue;
      & .h3{
        padding: 40px;
        position: absolute;
        top: 0;left: 0;
        width: 100%;
      }
      & svg{
        // padding: 40px;
        position: absolute;
        bottom: 40px;
        right: 40px;
        width: auto;
      }
    }
  }
  &__itemDate{
    padding-top: 20px;
    opacity: 0.6;
  }
  &__itemName{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 40px 40px;
  }
}