@keyframes rotate {
    from {
      transform: rotate(360deg);
    }
  }

@keyframes slidein {
  from {
    transform: translateX(0);
    // margin-left: -200%;
  }
  to {
    transform: translateX(-50%);
    // margin-left: -20%;
  }
}