.formSubscription {
    border-top: $border;
    &__inner {
        padding: 110px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 840px;
        margin: 0 auto;
        @media (max-width: 767px) {
            padding: 60px 0 70px;
        }
    }
    &__title {
        text-align: center;
        margin-top: 0;
        margin-bottom: 60px;
    }
    &__form {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    &__input {
        margin: 0;
        padding: 20px 20px 20px;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.1em;
        // text-transform: uppercase;
        border: $border;
        border-radius: 0;
        width: 45%;
        color: $black;
        background-color: transparent;
        &::placeholder {
            font-family: Open Sans;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: $black;
        }
    }
    &__button {
        margin: 0 0 0 -1px;
        padding: 20px 20px 20px;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        background-color: $grayLight1;
        border: $border;
        width: 45%;
        transition: 0.3s;
        &:hover,
        &:active,
        &:focus {
            background-color: $gray;
        }
    }
    @media (max-width: 767px) {
        &__inner {
            padding: 60px 0;
        }
        &__title {
            font-size: 24px;
            margin: 0 auto 40px;
        }
        &__form {
            flex-direction: column;
            align-items: center;
        }
        &__input {
            width: 100%;
            margin-bottom: 10px;
        }
        &__button {
            width: 100%;
            margin: 0;
        }
    }
}

.body_gray .formSubscription__button {
    background-color: $white;
}

.footer {
    background-color: $violet;
    color: white;
    &__top {
        padding: 80px 0;
        @media (max-width: 991px) {
            padding: 100px 0 80px;
        }
        @media (max-width: 767px) {
            padding: 70px 0;
        }
    }
    &__bottom {
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        padding: 26px 0 26px;
        text-align: center;
    }
    &__logo {
        &-sm {
            display: none;
        }
        &-md {
            display: block;
        }
        @media (max-width: 991px) {
            &-sm {
                display: block;
            }
            &-md {
                display: none;
            }
        }
    }
    @media (max-width: 767px) {
        &__logo {
            margin: auto;
        }
    }
    @media (max-width: 991px) and (min-width: 768px) {
        &__top-md-bottom {
            padding-top: 65px;
        }
    }
}

.social {
    display: flex;
    width: 100%;
    justify-content: space-between;
    & a {
        display: flex;
        align-items: center;
    }
    &__white {
        & svg {
            fill: $white;
        }
        & svg.stroke {
            fill: transparent;
            stroke: $white;
        }
    }
    &__black {
        & svg {
            fill: $black;
        }
        & svg.stroke {
            fill: transparent;
            stroke: $black;
        }
    }
    &_footer {
        margin-bottom: 44px;
        max-width: 100px;
    }
    &_mainMenu {
        margin-bottom: 50px;
        max-width: 100px;
    }
    @media (max-width: 767px) {
        &_footer {
            margin: 30px auto;
        }
        &_mainMenu {
            margin: 20px auto 50px;
        }
    }
}

.footerMenu {
    margin-top: -10px;
    &__title {
        margin: 0;
        padding: 0;
        line-height: 1;
        margin-bottom: 23px;
        @media (max-width: 1365px) {
            font-size: 21px;
        }
    }
    &__list {
        margin: 0;
        padding: 0;
        & li {
            list-style-type: none;
            margin: 0;
            padding: 0;
            margin-bottom: 13px;
        }
        & a {
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: $white;
            &:hover,
            &:active,
            &:focus {
                color: #FFFFFF;
            }
        }
    }
}

.contacts {
    &__link {
        margin: 0;
        padding: 0;
        font-size: 14px;
        line-height: 154%;
        color: #FFFFFF;
        display: block;
        &:hover,
        &:active,
        &:focus {
            color: #FFFFFF;
        }
    }
    @media (max-width: 767px) {
        &__link {
            text-align: center;
        }
    }
}

.avaLink {
    color: white;
    &:hover,
    &:active,
    &:focus {
        color: white;
    }
}