.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 87px;
    background-color: $white;
    border-bottom: $border;
    z-index: 1000;
    &_transparent {
        background-color: transparent;
        border-bottom: none;
    }
    &>div {
        height: 100%;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 0 12px 0 13px;
    }
    &__right {
        display: flex;
        align-items: center;
        justify-content: end;
        & *+* {
            margin-left: 15px;
        }
    }
    @media (max-width: 767px) {
        & {
            height: 60px;
        }
    }
    @media (max-width: 991px) {
        & {
            z-index: 3000;
            background-color: $white;
            border-bottom: $border;
        }
    }
}

.burger {
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    user-select: none;
    @media (max-width: 767px) {
        transform: scale(0.8);
    }
    &__text {
        margin: 0;
        padding: 0;
        margin-left: 15px;
        @media (max-width: 767px) {
            display: none;
        }
    }
    &__img * {
        transition: 0.3s ease-in-out;
    }
    .open1 &__img,
    .open2 &__img,
    .open3 &__img {
        & *:first-child {
            transform-origin: 100% 50%;
            transform: rotate(-45deg) translateX(3px);
        }
        & *:nth-child(2) {
            transform: scaleX(0);
        }
        & *:last-child {
            transform-origin: 100% 50%;
            transform: rotate(45deg) translateX(2px);
        }
    }
    &_white {
        color: $white;
        & svg {
            fill: $white;
        }
        @media (max-width: 991px) {
            color: $black;
            & svg {
                fill: $black;
            }
        }
    }
}

.search {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    &__hide {
        position: absolute;
        right: 0;
        display: flex;
        overflow: hidden;
        width: 0;
        transition: 0.3s;
        right: 0;
    }
    &:hover &__hide {
        // position: absolute;
        width: 150px;
        right: 100%;
    }
    svg {
        stroke: $black;
        z-index: 1;
    }
    button {
        margin: 0;
        padding: 0;
        border: none;
        background: transparent;
    }
    input {
        border: none;
        border-bottom: $border;
        width: 150px;
        background-color: transparent;
    }
    &_header {
        @media (max-width: 767px) {
            display: none;
        }
    }
    &_mainMenu {
        display: flex;
        justify-content: center;
        @media (min-width: 768px) {
            display: none;
        }
        .search__hide {
            position: static;
            width: 150px;
            right: 100%;
        }
    }
    &_white {
        svg {
            stroke: $white;
            @media (max-width: 991px) {
                stroke: $black;
            }
        }
        input {
            border-color: $white;
            color: $white;
            &::placeholder {
                color: $white;
            }
        }
    }
}

.basket {
    position: relative;
    cursor: pointer;
    svg {
        stroke: $black;
    }
    &__count {
        position: absolute;
        background-color: $black;
        left: 100%;
        top: -11px;
        width: 14px;
        height: 14px;
        font-size: 9px;
        line-height: 14px;
        color: #FFF;
        border-radius: 100%;
        text-align: center;
        margin: 0;
        padding: 0;
        &:hover {
            color: $white;
        }
    }
    &:hover * {
        color: $white;
    }
    &_white {
        svg {
            stroke: $white;
            @media (max-width: 991px) {
                stroke: $black;
            }
        }
        .basket__count {
            background-color: $white;
            color: $black;
            &:hover {
                color: $black;
            }
            @media (max-width: 991px) {
                background-color: $black;
                color: $white;
                &:hover {
                    color: $white;
                }
            }
        }
    }
}

.logo {
    width: 210px;
    @media (max-width: 767px) {
        width: 130px;
    }
}

.heading {
    &__top {
        min-height: 300px;
        color: $black;
        &_blue {
            background-color: $blueLight;
        }
        &_gray {
            background-color: $greyLight1;
        }
    }
    &__topInner {
        padding-top: 167px;
        padding-bottom: 70px;
        &_maxWidth {
            max-width: 700px;
            margin: auto;
        }
        &_paddingBO {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
    &__date {
        display: block;
        text-align: center;
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
        color: $gray;
    }
    &__text {
        max-width: 635px;
        margin: 28px auto 0;
        padding: 0;
        text-align: center;
    }
    &__menu {
        color: $black;
        &_blue {
            background-color: $blueLight;
        }
        &_gray {
            background-color: $greyLight1;
        }
    }
    &__menuItem {
        font-weight: 600;
        color: $black;
        & a {
            font-weight: 600;
            color: $black;
        }
    }
    @media (min-width: 768px) {
        &__menuInner {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;
            margin-bottom: -1px;
        }
        &__menuItem {
            margin: 0;
            padding: 16px 39px 20px;
            list-style-type: none;
            cursor: pointer;
            & a,
            a:hover,
            a:active,
            a:focus {
                color: $black;
            }
            &_active {
                background-color: $white;
            }
        }
    }
    @media (max-width: 767px) {
        &__top {
            min-height: 190px;
        }
        &__topInner {
            padding-top: 120px;
        }
        &__menuInner {
            display: flex;
            flex-direction: column;
            width: min-content;
            padding: 0;
            margin: 20px auto 60px;
        }
        &__menuItem {
            position: relative;
            width: min-content;
            list-style-type: none;
            white-space: nowrap;
            margin: 10px auto;
            cursor: pointer;
            & a,
            a:hover,
            a:active,
            a:focus {
                color: $black;
            }
            &_active {
                &::after {
                    position: absolute;
                    content: "";
                    bottom: -2px;
                    right: 0;
                    width: 100%;
                    height: 1px;
                    background-color: $black;
                    transition: 0.4s ease-in-out;
                }
            }
        }
    }
}