.news {
    padding: 90px 0;
    @media (max-width: 767px) {
        padding: 60px 0;
    }
}

.lastNews {
    &>.row {
        display: flex;
        align-items: stretch;
    }
    &__title {
        margin: 0;
        padding: 0;
        margin-bottom: 29px;
    }
    &__text {
        margin: 0;
        padding: 0;
        margin-bottom: 36px;
    }
    &__textWrap {
        padding: 90px 0;
    }
    &__imgWrap {
        height: 100%;
        position: relative;
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__date {
        position: absolute;
        bottom: 0;
        left: -30px;
        height: 100%;
        width: 20px;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
    }
    @media (max-width: 767px) {
        &>.row {
            flex-direction: column-reverse;
        }
        &__title {
            font-size: 24px;
            margin-bottom: 25px;
        }
        &__textWrap {
            padding: 10px 0 0px;
        }
        &__date {
            position: static;
            bottom: 0;
            left: -30px;
            height: auto;
            width: auto;
            writing-mode: horizontal-tb;
            transform: none;
            margin-top: 18px;
        }
    }
}

.newsList {
    margin-top: 90px;
    margin-bottom: -70px;
    @media (max-width: 767px) {
        margin-top: 70px;
        margin-bottom: -50px;
    }
    &__item {
        margin-bottom: 70px;
        display: block;
        @media (max-width: 767px) {
            margin-bottom: 50px;
        }
    }
    &__itemImg {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        margin-bottom: 16px;
    }
    &__itemDate {
        margin: 0;
        padding: 0;
        margin-bottom: 15px;
    }
    &__itemTitle {
        margin: 0;
        padding: 0;
        margin-bottom: 15px;
    }
    &__itemText {
        margin: 0;
        padding: 0;
    }
}