.pageCase {
    &__titleWrap {
        padding: 50px 0 90px;
        margin: 0;
    }
    &__close {
        display: block;
        width: 20px;
        height: 20px;
        margin: 0 auto 50px;
        padding: 0;
    }
    &__date {
        display: block;
        text-align: center;
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
        color: $gray;
    }
    &__title {
        display: block;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    &__titleWrap {
        background-color: $greyLight1;
    }
    &__galeryWrap {
        background-color: $greyLight1;
        background: linear-gradient(to bottom, $greyLight1 65%, $white 65%);
    }
    &__galeryDots {
        margin-top: 40px;
    }
    &__descriptionWrap {
        margin: 70px 0 100px;
        @media (max-width: 991px) {
            margin: 50px 0 80px;
        }
    }
}