$violet: #5A3D6C;
$black: #323236;
$white: #fff;
$grey: #848486;
$gray: $grey;
$blueLight:#DFEDF4;
$greyLight1: #F2F2F2;
$grayLight1: $greyLight1;
$greyLight2: #D1D1D1;
$grayLight2: $greyLight2;
$border: 1px solid $greyLight2;
* {
    box-sizing: border-box;
    outline: none !important;
    -webkit-appearance: none !important;
}

a {
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Ubuntu', sans-serif;
}

p,
span,
a,
button,
input,
textarea,
label,
li {
    font-family: 'Open Sans', sans-serif;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.h1 {
    font-weight: normal;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: -0.015em;
    @media (max-width: 991px) {
        font-size: 28px;
        line-height: 130%;
    }
    @media (max-width: 767px) {
        font-size: 24px;
    }
}

.h2 {
    font-weight: normal;
    font-size: 18px;
    line-height: 119.02%;
}

.h3 {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.1em;
}

.h4 {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.h5 {
    font-family: Ubuntu;
    font-weight: normal;
    font-size: 46px;
    line-height: 53px;
    letter-spacing: -0.015em;
    @media (max-width: 767px) {
        font-size: 32px;
        line-height: 130%;
    }
}

.h6 {
    font-family: Ubuntu;
    font-weight: normal;
    font-size: 24px;
    line-height: 153.52%;
}

p,
span,
a,
li,
.p1 {
    font-family: Open Sans;
    font-weight: normal;
    font-size: 14px;
    line-height: 154%;
}

.btn1 {
    display: inline-block;
    color: $black;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
    &:hover,
    &:active,
    &:focus {
        color: $black;
    }
    &_violet {
        width: 100%;
        background-color: $violet;
        color: $white;
        padding: 20px;
    }
}

.btn2 {
    display: inline-block;
    color: $black;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
    position: relative;
    &::after {
        position: absolute;
        content: "";
        bottom: -2px;
        right: 0;
        width: 100%;
        height: 1px;
        background-color: $black;
        transition: 0.4s ease-in-out;
    }
    &:hover,
    &:active,
    &:focus {
        color: $black;
    }
    &:hover::after,
    &:active::after,
    &:focus::after {
        width: 0;
    }
    &_white {
        color: $white;
        &:hover,
        &:active,
        &:focus {
            color: $white;
        }
        &::after {
            background-color: $white;
        }
    }
    &_center {
        display: block;
        margin: auto;
    }
}

.overflowHidden {
    overflow: hidden;
}

body {
    overflow-x: hidden;
}

.body {
    &_gray {
        background-color: $greyLight1;
    }
}

.sliderDots {
    display: flex;
    justify-content: center;
    padding: 0;
    & li {
        list-style-type: none;
        margin: 0 10px;
    }
    & button {
        margin: 0;
        padding: 0;
        font-size: 0;
        width: 10px;
        height: 10px;
        border: 1px solid $black;
        border-radius: 50%;
        background-color: transparent;
    }
    .slick-active button {
        background-color: $black;
    }
    &_white {
        & button {
            margin: 0;
            padding: 0;
            font-size: 0;
            width: 10px;
            height: 10px;
            border: 1px solid $white;
            border-radius: 50%;
            background-color: transparent;
        }
        .slick-active button {
            background-color: $white;
        }
    }
    &_sliderBg {
        position: absolute;
        bottom: 10vh;
        right: 10vw;
        z-index: 1;
        padding: 0;
        margin: 0;
        @media (max-width: 991px) {
            bottom: -45vh;
            right: 10vw;
        }
        @media (max-width: 767px) {
            bottom: 2vh;
            right: 13px;
        }
    }
}

.slogan {
    background-color: $greyLight1;
    padding: 90px 0;
    &_white {
        background-color: $white;
    }
    &_maxWidth {
        max-width: 840px;
        margin: 0 auto;
    }
    &__title {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 50px;
    }
    &__text {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
}

@import "header.scss";
@import "mainMenu.scss";
@import "pageMain.scss";
@import "pageNews.scss";
@import "pageAbout.scss";
@import "pageContacts.scss";
@import "pageServices.scss";
@import "pageServiceCategory.scss";
@import "pagePortfolio.scss";
@import "pageCase.scss";
@import "pageArticle.scss";
@import "pageProduct.scss";
@import "pageCategory.scss";
@import "pageBrands.scss";
@import "pageDiscount.scss";
@import "footer.scss";