@import "var/color";
@import "var/font";

*,
*:hover,
*:focus,
*:active {
  outline: none !important;
}

* {
  font-family: Neue Machina;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
}

html {
  scroll-behavior: smooth;
  font-size: 14px;
  @include media-breakpoint-down(lg) {
    font-size: 14px;
  }
}

body {
  overflow-x: hidden;
  background-color: $bg;
  color: $dark;
}

ul {
  padding-left: 0;
}
li {
  list-style-type: none;
  margin-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
}

a,
button {
  outline: none;
}
p > a,
span > a,
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a,
p > span,
h1 > span,
h2 > span,
h3 > span,
h4 > span,
h5 > span,
h6 > span {
  font: inherit;
  color: inherit;
  &:hover,
  &:focus,
  &:active {
    font: inherit;
    color: inherit;
  }
}

::-webkit-scrollbar {
  background-color: $gray;
}
::-webkit-scrollbar-thumb {
  background-color: $bgDark;
}
::-webkit-scrollbar-thumb:hover {
  background-color: $bgDark;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.siteWrap {
  overflow: hidden;
}
.overflow-hidden {
  overflow: hidden;
}
.noscroll {
  overflow: hidden;
}
@mixin pTop($mpXL, $mpLG, $mpMD, $mpSM) {
  padding-top: $mpXL;
  @include media-breakpoint-down(lg) {
    padding-top: $mpLG;
  }
  @include media-breakpoint-down(md) {
    padding-top: $mpMD;
  }
  @include media-breakpoint-down(sm) {
    padding-top: $mpSM;
  }
}
@mixin pBot($mpXL, $mpLG, $mpMD, $mpSM) {
  padding-bottom: $mpXL;
  @include media-breakpoint-down(lg) {
    padding-bottom: $mpLG;
  }
  @include media-breakpoint-down(md) {
    padding-bottom: $mpMD;
  }
  @include media-breakpoint-down(sm) {
    padding-bottom: $mpSM;
  }
}

@mixin mTop($mpXL, $mpLG, $mpMD, $mpSM) {
  margin-top: $mpXL;
  @include media-breakpoint-down(lg) {
    margin-top: $mpLG;
  }
  @include media-breakpoint-down(md) {
    margin-top: $mpMD;
  }
  @include media-breakpoint-down(sm) {
    margin-top: $mpSM;
  }
}
@mixin mBot($mpXL, $mpLG, $mpMD, $mpSM) {
  margin-bottom: $mpXL;
  @include media-breakpoint-down(lg) {
    margin-bottom: $mpLG;
  }
  @include media-breakpoint-down(md) {
    margin-bottom: $mpMD;
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: $mpSM;
  }
}
.m-t-200 {
  @include mTop(200px, 180px, 160px, 160px);
}
.m-b-200 {
  @include mBot(200px, 180px, 160px, 160px);
}
.p-t-200 {
  @include pTop(200px, 180px, 160px, 160px);
}
.p-b-200 {
  @include pBot(200px, 180px, 160px, 160px);
}

.m-t-160 {
  @include mTop(160px, 140px, 140px, 100px);
}
.m-b-160 {
  @include mBot(160px, 140px, 140px, 100px);
}
.p-t-160 {
  @include pTop(160px, 140px, 140px, 100px);
}
.p-b-160 {
  @include pBot(160px, 140px, 140px, 100px);
}

.m-t-100 {
  @include mTop(100px, 80px, 80px, 60px);
}
.m-b-100 {
  @include mBot(100px, 80px, 80px, 60px);
}
.p-t-100 {
  @include pTop(100px, 80px, 80px, 60px);
}
.p-b-100 {
  @include pBot(100px, 80px, 80px, 60px);
}

.m-t-80 {
  @include mTop(80px, 60px, 60px, 60px);
}
.m-b-80 {
  @include mBot(80px, 60px, 60px, 60px);
}
.p-t-80 {
  @include pTop(80px, 60px, 60px, 60px);
}
.p-b-80 {
  @include pBot(80px, 60px, 60px, 60px);
}

.m-t-60 {
  @include mTop(60px, 60px, 40px, 40px);
}
.m-b-60 {
  @include mBot(60px, 60px, 40px, 40px);
}
.p-t-60 {
  @include pTop(60px, 60px, 40px, 40px);
}
.p-b-60 {
  @include pBot(60px, 60px, 40px, 40px);
}

.m-t-40 {
  @include mTop(40px, 30px, 30px, 30px);
}
.m-b-40 {
  @include mBot(40px, 30px, 30px, 30px);
}
.p-t-40 {
  @include pTop(40px, 30px, 30px, 30px);
}
.p-b-40 {
  @include pBot(40px, 30px, 30px, 30px);
}

.m-t-20 {
  @include mTop(20px, 15px, 15px, 15px);
}
.m-b-20 {
  @include mBot(20px, 15px, 15px, 15px);
}
.p-t-20 {
  @include pTop(20px, 15px, 15px, 15px);
}
.p-b-20 {
  @include pBot(20px, 15px, 15px, 15px);
}

.p-t-0 {
  padding-top: 0;
}
.p-b-0 {
  padding-bottom: 0;
}
.m-t-0 {
  margin-top: 0;
}
.m-b-0 {
  margin-bottom: 0;
}

.m-t-a {
  margin-top: auto;
}
.mp0 {
  margin: 0;
  padding: 0;
}

.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}
.z-5 {
  z-index: 5;
}
.z-10 {
  z-index: 10;
}
.z-100 {
  z-index: 100;
}

@mixin fontS($fsXL, $fsLG, $fsMD, $fsSM) {
  font-size: $fsXL;
  @include media-breakpoint-down(lg) {
    font-size: $fsLG;
  }
  @include media-breakpoint-down(md) {
    font-size: $fsMD;
  }
  @include media-breakpoint-down(sm) {
    font-size: $fsSM;
  }
}
// .h1 {
//   font-family: Kelson Sans RU;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 62px;
//   line-height: 110%;
//   text-transform: uppercase;
// }
.h2 {
  font-family: Neue Machina;
  font-style: normal;
  font-weight: normal;
  // font-size: 68px;
  line-height: 110%;
  text-transform: uppercase;
  @include fontS(68px, 48px, 36px, 28px);
}
.h3 {
  font-family: Neue Machina;
  font-style: normal;
  font-weight: normal;
  // font-size: 48px;
  line-height: 110%;
  text-transform: uppercase;
  @include fontS(48px, 36px, 30px, 30px);
}
.h4 {
  font-family: Neue Machina;
  font-style: normal;
  font-weight: normal;
  // font-size: 28px;
  line-height: 140%;
  @include fontS(28px, 20px, 20px, 16px);
}
.h5 {
  font-family: Neue Machina;
  font-style: normal;
  font-weight: normal;
  // font-size: 20px;
  line-height: 140%;
  @include fontS(20px, 16px, 16px, 16px);
}
.p1,
p,
li,
li > a {
  font-family: Neue Machina;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  @include fontS(16px, 14px, 14px, 14px);
}
.p2 {
  font-family: Neue Machina;
  font-style: normal;
  font-weight: 300;
  // font-size: 14px;
  line-height: 14px;
  @include fontS(14px, 12px, 12px, 12px);
}
.num1 {
  font-family: Neue Machina;
  font-style: normal;
  font-weight: 300;
  line-height: 110%;
  letter-spacing: -0.1em;
  text-transform: uppercase;
  @include fontS(790px, 550px, 450px, 250px);
}
.num2 {
  font-family: Neue Machina;
  font-style: normal;
  font-weight: 300;
  // font-size: 200px;
  @include fontS(200px, 140px, 140px, 80px);
  line-height: 0.95;
  text-transform: uppercase;
}

.ttu {
  text-transform: uppercase;
}
.fwb {
  font-weight: 900;
}
.w-100 {
  width: 100% !important;
  height: auto;
}
.h-100 {
  height: 100%;
  object-fit: cover;
}

.w-80 {
  width: 80% !important;
  height: auto;
}

.imgW {
  position: relative;
  display: block;
  &::after {
    content: "";
    display: block;
    padding-bottom: 50%;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.madeAva {
  white-space: nowrap;
  color: $gray;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  svg {
    margin-left: 10px;
    fill: $gray;
  }
  &:hover,
  &:focus {
    // color:$darkGray;
  }
  &:active {
    // color: $redDim;
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 60px;
  }
  @include media-breakpoint-down(sm) {
    justify-content: flex-start;
  }
}

input {
  display: block;
  width: 100%;
  background: transparent;
  color: $dark;
  border: none;
  border-bottom: 1px solid $black;
  padding: 15px 0;
  margin-bottom: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;

  &::placeholder {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
  }
}

// .btn2{
//   color: $red;
//   text-transform: uppercase;
//   position: relative;
//   transition: 0.3s;
//   &::before{
//     content: "";
//     position: absolute;
//     top: calc(50% - 1px);
//     left: calc(100% + 20px);
//     width: 35px;
//     height: 1px;
//     background-color: $red;
//     transform-origin: left;
//     transition: 0.3s;
//   }
//   &:hover, &:focus{
//     &::before{
//       transform: scaleX(1.8);
//     }
//   }
//   &:active{
//     color: $dark;
//     &::before{
//       background-color: $dark;
//       transform: scaleX(1.8);
//     }
//   }
//   &_white{
//     color: $white;
//     &::before{
//       background-color: $white;
//     }
//   }
// }

.orange {
  color: $orange;
}
.bg-o {
  background-color: $orange;
}
